<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" *ngFor="let user of users$">
      {{ user.name }}
    </div>
    <div class="col-md-2">
      <br />
      HelloWorld SOAP: '{{ helloWorld$ }}''
    </div>
    <div class="col-md-2">
      <br />
      Echo SOAP: '{{ echo$ }}''
    </div>
    <div class="col-md-2">
      <br />
      HELLLOOOO: '{{ message }}' und '{{ message2 }}'
      <button (click)="onHelloWorld()">Click me!</button>
    </div>
  </div>
</div>